/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* .container-fluid
 {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

.logo img{
    width: 150px;
    height: 70px;
    object-fit: contain;
}

.nav-link:hover{
    color: red!important;
    
}

.bg-img{
    background: url('/assets/Rectangle\ 9.png')!important;
    height: 450px;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.menu-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

section{
    margin: 120px 0;
}

@media screen and (max-width: 576px){
    section{
        margin: 40px 0;
    }
}